body
{
      font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
      overflow: hidden;
      background-color: #333;
}

.navbar a
{
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin-left: 10%;
}

.dropdown
{
      float: left;
      overflow: hidden;
      margin-left: 10%;
}

.dropdown .dropbtn
{
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding:14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin-left: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn
{
      background-color: red;
}

.dropdown-content
{
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}

.dropdown-content a
{
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
}

.dropdown-content a:hover
{
      background-color: #ddd;
}

.dropdown:hover .dropdown-content
{
      display: block;
}

.bgimg1
{
      width: 100%;
      height: 300px;
}

main
{
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #D5F5F5;
}

div [class^="col-"]
{
      padding-left:10%;
      padding-right:10%;
}

.row
{
      display: inline-block;
}

.card
{
      transition:0.5s;
      cursor:pointer;
      background-color: #faa04f
}

.card-title
{
      margin-left: 2%;
      font-size: 20px;
      transition: 1s;
      cursor:pointer;
}

.card-title i
{
      font-size: 30px;
      transition:1s;
      cursor:pointer;
      color: black;
}

.card-title i:hover
{
      color: #18d4ca;
}

.card:hover
{
      box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text
{
      height:80px;
}

.sidesimg
{
      margin-left: 2%;
      display: inline-block;
      width: 30%;
      height: 100%;
      margin-bottom: 2%;
}

.sidestxt
{
      margin-left: 2%;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      height: 100%;
}

img
{
      height:100%;
      width: 100%;
}

footer
{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: grey;
      color: white;
      text-align: center;
}
