
.header{
margin-bottom: 20px;
font-size: 2rem;
color: black;
text-align: center;
}

.textDisplay {
background-color: #faa04f;
font-size: 1.5rem;
margin: 15px;
padding: 15px;
box-shadow: black 5px 8px 5px;
height: 350px;
}

.textInput {
background-color: #fff;
font-size: 1.5rem;
margin: 15px;
padding: 15px;
border: 1px solid black;
box-shadow: black 5px 8px 5px;
height: 350px;
width: 100%;
}

.incorrect_word {
color: red;
text-decoration: underline;
}

.correct_word {
color: #29a329;
}

.header_text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.scoreBox{
    width: 80%;
    margin: 10px;
    height: 60px;
    background-color: #faa04f;
}
#btn-reset{
    width: 80%;
    height: 60px;
    margin: 10px;
}
